# Pandas

DataSet Link - https://docs.google.com/spreadsheets/d/1q2vErB2pI3m7Sdu13_xR-9a1otStakdG5z1deCEMoTs/edit?usp=sharing

In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\lenovo\Downloads\Mobilephone_data_final_V2.csv")
print(df)

         Brand  Battery capacity (mAh)  Screen size (inches) Touchscreen  \
0      OnePlus                    4085                  6.67         Yes
1       Realme                    4000                  6.50         Yes
2        Apple                    3969                  6.50         Yes
3        Apple                    3110                  6.10         Yes
4           LG                    4000                  6.40         Yes
...        ...                     ...                   ...         ...
1354     Intex                    1500                  4.00         Yes
1355  Videocon                    2000                  5.00         Yes
1356     Intex                    1700                  4.50         Yes
1357     iBall                    1250                  4.00         Yes
1358     iBall                    2150                  5.00         Yes

      Resolution x  Resolution y  Processor  RAM (MB)  Internal storage (GB)  \
0             1440          3120          8     12000                256.000
1             1080          2400          8      6000                 64.000
2             1242          2688          6      4000                 64.000
3              828          1792          6      4000                 64.000
4             1080          2340          8      6000                128.000
...            ...           ...        ...       ...                    ...
1354           480           800          4       512                  8.000
1355           480           854          4      1000                  8.000
1356           480           854          2       512                  4.000
1357           480           800          1       256                  0.512
1358           480           854          4      1000                  8.000

      Rear camera  Front camera Operating system Wi-Fi Bluetooth  GPS  \
0            48.0          16.0          Android   Yes       Yes  Yes
1            64.0          16.0          Android   Yes       Yes  Yes
2            12.0          12.0              iOS   Yes       Yes  Yes
3            12.0          12.0              iOS   Yes       Yes  Yes
4            12.0          32.0          Android   Yes       Yes  Yes
...           ...           ...              ...   ...       ...  ...
1354          5.0           0.3          Android   Yes       Yes  Yes
1355          8.0           5.0          Android   Yes       Yes  Yes
1356          5.0           2.0          Android   Yes       Yes   No
1357          2.0           0.3          Android   Yes       Yes  Yes
1358          8.0           0.0          Android   Yes       Yes  Yes

      Number of SIMs   3G 4G/ LTE   Price
0                  2  Yes     Yes   58998
1                  2  Yes     Yes   27999
2                  2  Yes     Yes  106900
3                  2  Yes     Yes   62900
4                  1   No      No   49990
...              ...  ...     ...     ...
1354               2  Yes      No    2599
1355               2  Yes      No    2940
1356               2  Yes      No    2999
1357               2  Yes      No    2498
1358               2  Yes      No    3999

[1359 rows x 19 columns]

 retrieve the values in the "RAM" column for all smartphones in the dataset?

In [5]:
df

,Brand,Battery capacity (mAh),Screen size (inches),Touchscreen,Resolution x,Resolution y,Processor,RAM (MB),Internal storage (GB),Rear camera,Front camera,Operating system,Wi-Fi,Bluetooth,GPS,Number of SIMs,3G,4G/ LTE,Price
0,OnePlus,4085,6.67,Yes,1440,3120,8,12000,256.000,48.0,16.0,Android,Yes,Yes,Yes,2,Yes,Yes,58998
1,Realme,4000,6.50,Yes,1080,2400,8,6000,64.000,64.0,16.0,Android,Yes,Yes,Yes,2,Yes,Yes,27999
2,Apple,3969,6.50,Yes,1242,2688,6,4000,64.000,12.0,12.0,iOS,Yes,Yes,Yes,2,Yes,Yes,106900
3,Apple,3110,6.10,Yes,828,1792,6,4000,64.000,12.0,12.0,iOS,Yes,Yes,Yes,2,Yes,Yes,62900
4,LG,4000,6.40,Yes,1080,2340,8,6000,128.000,12.0,32.0,Android,Yes,Yes,Yes,1,No,No,49990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1354,Intex,1500,4.00,Yes,480,800,4,512,8.000,5.0,0.3,Android,Yes,Yes,Yes,2,Yes,No,2599
1355,Videocon,2000,5.00,Yes,480,854,4,1000,8.000,8.0,5.0,Android,Yes,Yes,Yes,2,Yes,No,2940
1356,Intex,1700,4.50,Yes,480,854,2,512,4.000,5.0,2.0,Android,Yes,Yes,No,2,Yes,No,2999
1357,iBall,1250,4.00,Yes,480,800,1,256,0.512,2.0,0.3,Android,Yes,Yes,Yes,2,Yes,No,2498
1358,iBall,2150,5.00,Yes,480,854,4,1000,8.000,8.0,0.0,Android,Yes,Yes,Yes,2,Yes,No,3999

In [20]:
print(df['RAM (MB)'])

Brand
OnePlus     12000
Realme       6000
Apple        4000
Apple        4000
LG           6000
            ...
Intex         512
Videocon     1000
Intex         512
iBall         256
iBall        1000
Name: RAM (MB), Length: 1359, dtype: int64

Retrieve the "Brand" and "Price" columns for the smartphones with a battery capacity greater than 4000 mAh.

In [7]:

 df[df['Battery capacity (mAh)'] > 4000][['Brand','Price']]

        Brand  Price
0     OnePlus  58998
6     OnePlus  52990
7     Samsung  79699
8        Asus  37999
14       Oppo  36990
...       ...    ...
1117       LG   6999
1154    Meizu   5290
1158  Samsung  19980
1186       HP  88719
1199   Lenovo   7679

[125 rows x 2 columns]

Find smartphones with internal storage greater than 100 GB or a rear camera resolution above 20 MP.

In [8]:

print(df[(df['Internal storage (GB)'] > 100) | (df['Rear camera'] > 20)])

        Brand  Battery capacity (mAh)  Screen size (inches) Touchscreen  \
0     OnePlus                    4085                  6.67         Yes
1      Realme                    4000                  6.50         Yes
4          LG                    4000                  6.40         Yes
5     OnePlus                    3800                  6.55         Yes
6     OnePlus                    4085                  6.67         Yes
...       ...                     ...                   ...         ...
1173   mPhone                    3050                  5.50         Yes
1178     Zopo                    3600                  5.50         Yes
1182     Sony                    2620                  5.00         Yes
1309     Sony                    3430                  5.50         Yes
1336     Sony                    2600                  5.00         Yes

      Resolution x  Resolution y  Processor  RAM (MB)  Internal storage (GB)  \
0             1440          3120          8     12000                  256.0
1             1080          2400          8      6000                   64.0
4             1080          2340          8      6000                  128.0
5             1080          2400          8      8000                  128.0
6             1440          3120          8      8000                  256.0
...            ...           ...        ...       ...                    ...
1173          1080          1920          8      4000                   64.0
1178          1080          1920         10      4000                   32.0
1182          1080          1920          1      3000                   32.0
1309          2160          3840          8      3000                   32.0
1336          1080          1920          8      3000                   16.0

      Rear camera  Front camera Operating system Wi-Fi Bluetooth  GPS  \
0            48.0          16.0          Android   Yes       Yes  Yes
1            64.0          16.0          Android   Yes       Yes  Yes
4            12.0          32.0          Android   Yes       Yes  Yes
5            48.0          16.0          Android   Yes       Yes   No
6            48.0          16.0          Android   Yes       Yes  Yes
...           ...           ...              ...   ...       ...  ...
1173         21.0           8.0          Android   Yes       Yes  Yes
1178         21.0           8.0          Android   Yes       Yes  Yes
1182         23.0          13.0          Android   Yes       Yes  Yes
1309         23.0           5.0          Android   Yes       Yes  Yes
1336         21.5          13.0          Android   Yes       Yes  Yes

      Number of SIMs   3G 4G/ LTE  Price
0                  2  Yes     Yes  58998
1                  2  Yes     Yes  27999
4                  1   No      No  49990
5                  2  Yes     Yes  34930
6                  2  Yes     Yes  52990
...              ...  ...     ...    ...
1173               2  Yes     Yes   6499
1178               2  Yes     Yes   9980
1182               1  Yes     Yes  19990
1309               2  Yes     Yes  57500
1336               1  Yes     Yes   5999

[125 rows x 19 columns]

Add a new column named "Total Storage" that sums up the "RAM" and "Internal Storage" columns.

In [9]:
df['Total Storage'] =df['RAM (MB)']+ df['Internal storage (GB)']

In [10]:
df

,Brand,Battery capacity (mAh),Screen size (inches),Touchscreen,Resolution x,Resolution y,Processor,RAM (MB),Internal storage (GB),Rear camera,Front camera,Operating system,Wi-Fi,Bluetooth,GPS,Number of SIMs,3G,4G/ LTE,Price,Total Storage
0,OnePlus,4085,6.67,Yes,1440,3120,8,12000,256.000,48.0,16.0,Android,Yes,Yes,Yes,2,Yes,Yes,58998,12256.000
1,Realme,4000,6.50,Yes,1080,2400,8,6000,64.000,64.0,16.0,Android,Yes,Yes,Yes,2,Yes,Yes,27999,6064.000
2,Apple,3969,6.50,Yes,1242,2688,6,4000,64.000,12.0,12.0,iOS,Yes,Yes,Yes,2,Yes,Yes,106900,4064.000
3,Apple,3110,6.10,Yes,828,1792,6,4000,64.000,12.0,12.0,iOS,Yes,Yes,Yes,2,Yes,Yes,62900,4064.000
4,LG,4000,6.40,Yes,1080,2340,8,6000,128.000,12.0,32.0,Android,Yes,Yes,Yes,1,No,No,49990,6128.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1354,Intex,1500,4.00,Yes,480,800,4,512,8.000,5.0,0.3,Android,Yes,Yes,Yes,2,Yes,No,2599,520.000
1355,Videocon,2000,5.00,Yes,480,854,4,1000,8.000,8.0,5.0,Android,Yes,Yes,Yes,2,Yes,No,2940,1008.000
1356,Intex,1700,4.50,Yes,480,854,2,512,4.000,5.0,2.0,Android,Yes,Yes,No,2,Yes,No,2999,516.000
1357,iBall,1250,4.00,Yes,480,800,1,256,0.512,2.0,0.3,Android,Yes,Yes,Yes,2,Yes,No,2498,256.512
1358,iBall,2150,5.00,Yes,480,854,4,1000,8.000,8.0,0.0,Android,Yes,Yes,Yes,2,Yes,No,3999,1008.000

Set the "Brand" column as the index for the dataset.

In [11]:

df.set_index('Brand', inplace=True)

In [12]:
print(df)

          Battery capacity (mAh)  Screen size (inches) Touchscreen  \
Brand
OnePlus                     4085                  6.67         Yes
Realme                      4000                  6.50         Yes
Apple                       3969                  6.50         Yes
Apple                       3110                  6.10         Yes
LG                          4000                  6.40         Yes
...                          ...                   ...         ...
Intex                       1500                  4.00         Yes
Videocon                    2000                  5.00         Yes
Intex                       1700                  4.50         Yes
iBall                       1250                  4.00         Yes
iBall                       2150                  5.00         Yes

          Resolution x  Resolution y  Processor  RAM (MB)  \
Brand
OnePlus           1440          3120          8     12000
Realme            1080          2400          8      6000
Apple             1242          2688          6      4000
Apple              828          1792          6      4000
LG                1080          2340          8      6000
...                ...           ...        ...       ...
Intex              480           800          4       512
Videocon           480           854          4      1000
Intex              480           854          2       512
iBall              480           800          1       256
iBall              480           854          4      1000

          Internal storage (GB)  Rear camera  Front camera Operating system  \
Brand
OnePlus                 256.000         48.0          16.0          Android
Realme                   64.000         64.0          16.0          Android
Apple                    64.000         12.0          12.0              iOS
Apple                    64.000         12.0          12.0              iOS
LG                      128.000         12.0          32.0          Android
...                         ...          ...           ...              ...
Intex                     8.000          5.0           0.3          Android
Videocon                  8.000          8.0           5.0          Android
Intex                     4.000          5.0           2.0          Android
iBall                     0.512          2.0           0.3          Android
iBall                     8.000          8.0           0.0          Android

         Wi-Fi Bluetooth  GPS  Number of SIMs   3G 4G/ LTE   Price  \
Brand
OnePlus    Yes       Yes  Yes               2  Yes     Yes   58998
Realme     Yes       Yes  Yes               2  Yes     Yes   27999
Apple      Yes       Yes  Yes               2  Yes     Yes  106900
Apple      Yes       Yes  Yes               2  Yes     Yes   62900
LG         Yes       Yes  Yes               1   No      No   49990
...        ...       ...  ...             ...  ...     ...     ...
Intex      Yes       Yes  Yes               2  Yes      No    2599
Videocon   Yes       Yes  Yes               2  Yes      No    2940
Intex      Yes       Yes   No               2  Yes      No    2999
iBall      Yes       Yes  Yes               2  Yes      No    2498
iBall      Yes       Yes  Yes               2  Yes      No    3999

          Total Storage
Brand
OnePlus       12256.000
Realme         6064.000
Apple          4064.000
Apple          4064.000
LG             6128.000
...                 ...
Intex           520.000
Videocon       1008.000
Intex           516.000
iBall           256.512
iBall          1008.000

[1359 rows x 19 columns]

Reset the index of the dataset.

In [13]:
# df.reset_index(drop=True, inplace=True)
df

,Battery capacity (mAh),Screen size (inches),Touchscreen,Resolution x,Resolution y,Processor,RAM (MB),Internal storage (GB),Rear camera,Front camera,Operating system,Wi-Fi,Bluetooth,GPS,Number of SIMs,3G,4G/ LTE,Price,Total Storage
Brand,,,,,,,,,,,,,,,,,,,
OnePlus,4085,6.67,Yes,1440,3120,8,12000,256.000,48.0,16.0,Android,Yes,Yes,Yes,2,Yes,Yes,58998,12256.000
Realme,4000,6.50,Yes,1080,2400,8,6000,64.000,64.0,16.0,Android,Yes,Yes,Yes,2,Yes,Yes,27999,6064.000
Apple,3969,6.50,Yes,1242,2688,6,4000,64.000,12.0,12.0,iOS,Yes,Yes,Yes,2,Yes,Yes,106900,4064.000
Apple,3110,6.10,Yes,828,1792,6,4000,64.000,12.0,12.0,iOS,Yes,Yes,Yes,2,Yes,Yes,62900,4064.000
LG,4000,6.40,Yes,1080,2340,8,6000,128.000,12.0,32.0,Android,Yes,Yes,Yes,1,No,No,49990,6128.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Intex,1500,4.00,Yes,480,800,4,512,8.000,5.0,0.3,Android,Yes,Yes,Yes,2,Yes,No,2599,520.000
Videocon,2000,5.00,Yes,480,854,4,1000,8.000,8.0,5.0,Android,Yes,Yes,Yes,2,Yes,No,2940,1008.000
Intex,1700,4.50,Yes,480,854,2,512,4.000,5.0,2.0,Android,Yes,Yes,No,2,Yes,No,2999,516.000
iBall,1250,4.00,Yes,480,800,1,256,0.512,2.0,0.3,Android,Yes,Yes,Yes,2,Yes,No,2498,256.512
iBall,2150,5.00,Yes,480,854,4,1000,8.000,8.0,0.0,Android,Yes,Yes,Yes,2,Yes,No,3999,1008.000

Calculate the average "Price" of smartphones in the dataset.

In [14]:
print(df['Price'].mean())

11465.825607064018

Group the dataset by "Brand" and find the average battery capacity for each brand

In [15]:
df.groupby('Brand')['Battery capacity (mAh)'].mean().reset_index()

      Brand  Battery capacity (mAh)
0     10.or             3940.000000
1      Acer             3210.000000
2   Alcatel             2819.000000
3     Apple             2517.176471
4      Aqua             2800.000000
..      ...                     ...
71     Zopo             2510.833333
72      Zuk             3100.000000
73    iBall             2017.857143
74   iVoomi             2912.500000
75   mPhone             2825.000000

[76 rows x 2 columns]

Group the dataset by "Brand" and calculate the total storage (sum of RAM and Internal Storage) for each brand.

In [16]:

df.groupby('Brand')['Total Storage'].sum().reset_index()

      Brand  Total Storage
0     10.or      13144.000
1      Acer       5048.000
2   Alcatel      23208.000
3     Apple      45728.000
4      Aqua       1016.000
..      ...            ...
71     Zopo      28240.000
72      Zuk       4064.000
73    iBall      13150.024
74   iVoomi      30264.000
75   mPhone       7096.000

[76 rows x 2 columns]

Group the data by "Operating System" and find both the average and maximum rear camera resolution for each OS.

In [17]:
df.groupby('Operating system').agg({'Rear camera':['mean','max']})

                 Rear camera
                        mean    max
Operating system
Android            12.180523  108.0
BlackBerry          7.000000   13.0
Cyanogen            8.320000   21.0
Sailfish            8.000000    8.0
Tizen               6.000000    8.0
Windows            11.036842   41.0
iOS                11.294118   12.0

Create new column price ranges -  Low, Medium, High using price column and then group the data by these ranges, calculating the average screen size for each price range.

NOTE : you can set the price parameter for "price ranges" column by your own

In [ ]:
def price_range(Price):
    if Price < 2000:
        return 'Low'
    elif Price <=

In [12]:
def price_range(Price):
    if Price < 300:
        print ('Low')
    elif 300 <= Price < 600:
        print('Medium')
    else:
        print('High')

# Apply the function to create the price range column

In [13]:
df['price_range'] = df['Price'].apply(price_range)

High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
Medium
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High
High

Group the dataset by "Brand" and calculate the average battery capacity for smartphones with a price above 50000.

In [18]:
f_df= df[df['Price']>50000]
f_df.groupby('Brand')['Battery capacity (mAh)'].mean().reset_index()

      Brand  Battery capacity (mAh)
0     Apple             3026.166667
1      Asus             4000.000000
2       Cat             4500.000000
3    Google             3250.000000
4        HP             4150.000000
5       HTC             3357.500000
6    Huawei             4225.000000
7   OnePlus             4085.000000
8      Oppo             3730.000000
9     Razer             4000.000000
10  Samsung             3878.000000
11     Sony             3298.000000